<div>
    <div>
    <button type="submit" class="btn btn-secondary" *ngIf="hidden" (click)="hidden = false">Pridėti patiekalą</button>
    </div>
    
    <div class="aligntop" [hidden]="hidden">
        <h6>Pridėti dienos patiekalą:</h6>
        <div class="form-group">
          <label>Pavadinimas</label>
          <input type="text" class="form-control" placeholder="Įvesti pavadinimą" [(ngModel)]="title">
        </div>
        <div class="form-group">
          <label>Kaina EUR</label>
          <input type="text" class="form-control" placeholder="Kaina" [(ngModel)]="price">
        </div>
        <div class="form-group">
            <label>Svoris g</label>
            <input type="text" class="form-control" placeholder="Svoris" [(ngModel)]="weight" >
          </div>
          <div class="form-group">
            <label>Mėsos kiekis g</label>
            <input type="text" class="form-control" placeholder="Mėsos kiekis" [(ngModel)]="meat" >
          </div>
          <div class="form-group">
            <label>Aprašymas</label>
            <input type="text" class="form-control" placeholder="Aprašymas" [(ngModel)]="about">
          </div>
        <button type="submit" class="btn btn-primary" (click)="addMeniu()">Pridėti</button>
        
    </div>

    <div class="alignleft">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Pavadinimas</th>
                    <th>Kaina</th>
                    <th>Svoris</th>
                    <th>Mėsos kiekis</th>
                    <th>Aprašymas</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let meniu of menius; index as i">
                    <th>{{ i + 1 }}</th>
                    <td>{{meniu.title}}</td>
                    <td>{{meniu.price}} EUR</td>
                    <td>{{meniu.weight}} g</td>
                    <td>{{meniu.meat}} g</td>
                    <td>{{meniu.about}}</td>
                    <td> <button type="button" class="btn btn-danger" (click)="deleteMeniu(meniu.id)">Ištrinti</button>
                        <button type="button" class="btn btn-warning" >Koreguoti</button>
                    </td>
                </tr>
            </tbody>

        </table>
</div>
        
    
