<app-meniu (onMenuUpdated) = "menuUpdated($event)"></app-meniu>
<div>
    <div>
        <h4>Restoranai</h4>
    </div>

    <div>
        <button type="submit" class="btn btn-secondary" *ngIf="hideMode" (click)="hideMode = false">Pridėti restoraną</button>
        <div [hidden] ="hideMode == false">
        <label>Filtruoti restoranus</label>
        <select class="form-select" [(ngModel)]="meniuSelected" (ngModelChange)="onMeniuSelected($event)">
            <option disabled>Ieškoti...</option>
            <option [value]="0">Visi</option>
            <option *ngFor="let meniu of menius"  [value]="meniu.id">
                {{meniu.title}}
            </option>
        </select>
        </div>
        </div>
        
        <div [hidden] ="hideMode"> 
            <h6>Pridėti restoraną:</h6>
            <div class="form-group">
              <label>Pavadinimas</label>
              <input type="text" class="form-control" placeholder="Įvesti pavadinimą" [(ngModel)]="title">
            </div>
            <div class="form-group">
              <label>Lankytojų kiekis</label>
              <input type="text" class="form-control" placeholder="Įvesti lankytojų kiekį" [(ngModel)]="customers">
            </div>
            <div class="form-group">
                <label>Darbuototjų kiekis</label>
                <input type="text" class="form-control" placeholder="Įvesti darbuotojų kiekį" [(ngModel)]="employees" >
              </div>
              
            <div class="form-group">
                <label>Dienos patiekalas</label>
                
                    <select class="form-select" [(ngModel)]="meniuId">
                        <option disabled>Pasirinkti...</option>
                        <option *ngFor="let meniu of menius"  [value]="meniu.id">
                            {{meniu.title}}
                        </option>
                    </select>
                
            </div>
            <div>
                <button type="submit" class="btn btn-primary" *ngIf="editMode == false" (click)="addRestaurant()">Pridėti</button>
                <button type="submit" class="btn btn-secondary" *ngIf="editMode == false" (click)="hideMode = true">Slėpti formą</button>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" *ngIf="editMode == true" (click)="sendUpdatedRestaurant()">Koreguoti</button>
            </div>
        </div>
    <div>
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Pavadinimas</th>
                    <th>Lankytojų kiekis</th>
                    <th>Darbuototjų kiekis</th>
                    <th>Dienos patiekalas</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let restaurant of restaurants; index as i">
                    <th>{{ i + 1 }}</th>
                    <td>"{{restaurant.title}}"</td>
                    <td>{{restaurant.customers}}</td>
                    <td>{{restaurant.employees}}</td>
                    <td>{{restaurant.meniu.title}}</td>
                    <td> <button type="button" class="btn btn-danger" (click)="deleteRestaurant(restaurant.id)">Ištrinti</button>
                        <button type="button" class="btn btn-warning" (click)="loadRestaurant(restaurant)">Koreguoti</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
